body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

#logo{
  width: 80px;
  height: 50px;
}

nav a{
  padding: 0 32px;
  transition: 0.4s;
  font-size: 20px;
}

nav a:hover{
background: rgb(47, 141, 24);

}

/* Banner */

#banner{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0,0,0,0.2) url("img/2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: white;
}

#banner h3{
  background:  rgb(47, 141, 24);
  color: white;
  border-radius: 8px;
  padding: 10px;
  font-size: 24px;
}


/* Page Context */

#p-Home{
  font-size: 20px;
}


/* Footer */

footer{
  background: rgb(52, 53, 52);
  padding: 8px;
  color: #eee;
  display: flex;
}

footer a{
  color: white;
}

footer #left-footer{
  flex: 1;
  border-right: 1px solid white;
  text-align: center ;
  margin-top: 10px;
}

footer #left-footer ul{
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

footer #right-footer{
  flex: 2;
  margin-top: 10px;
  text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-linkedin,
footer #social-media-footer a .fa-github {
  color: white;
  transition: 0.4s;
}

footer #social-media-footer ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer ul li{
  font-size: 48px;
  padding: 16px;
  transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-facebook{
color: #3b5998;
}

footer #social-media-footer ul li:hover a .fa-linkedin{
color: rgb(40, 105, 226);
}

footer #social-media-footer ul li:hover a .fa-github{
color: #bbb;
}




